# Python / Django
__pycache__/
*.pyc
env/
venv/
*.sqlite3
.test_spatialite.db

# Environment / secrets
.env
.env_local

# Node / React Native
mobile/node_modules/
npm-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

node_modules/